<%- include('./partials/head') %>

<section id="form-login">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-7">
        <div class="card p-5">
          <h3 class="fw-bold">Halaman Reset Password</h1>
          <form action="/reset/change" method="POST" autocomplete="off">
            <div class="col mb-3">
              <input type="hidden" name="email" id="email" value="<%= result.email %>">
              <label for="password" required class="form-label"
                >Masukkan Password anda</label
              >
              <input
                type="password"
                required
                class="form-control"
                name="password"
              />
            </div>
            <div class="col mb-3">
              <label for="confirmPass" required class="form-label"
                >Masukkan Kembali Password anda</label
              >
              <input
                type="password"
                required
                class="form-control"
                name="confirmPass"
              />
            </div>
            <div class="col">
              <button class="btn btn-success w-100">Login !</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #form-login {
    margin-top: 8em;
    border-radius: 10px;
  }
</style>

<%- include('./partials/footer') %>
