<%- include('./partials/head') %>

<section id="form-login">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-6">
        <div class="card p-5">
          <h1 class="fw-bold">Form Pendaftaran</h1>
          <form action="/auth/signup/" method="POST" autocomplete="off">
            <div class="col">
              <label for="email" class="form-label">Masukkan email anda</label>
              <input type="email" required class="form-control" name="email" />
            </div>
            <div class="col mb-3">
              <label for="password" required class="form-label"
                >Masukkan password anda</label
              >
              <input
                type="password"
                required
                class="form-control"
                name="password"
              />
            </div>
            <div class="col">
              <button class="btn btn-success w-100">Daftar !</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #form-login {
    margin-top: 8em;
    border-radius: 10px;
  }
</style>

<%- include('./partials/footer') %>
